@import './src/style/_variable.scss';
.stat {
    .select-items {
        position: relative;
        margin: 18px 6px;
        select {
            background: $lightblue;
            color: $text-white;
            border-radius: 26px;
            padding: 3px 7px 5px;
        }
        .triangle {
            position: absolute;
            top: 12px;
            left: 100px;
            display: inline-block;
            height: 0px;
            width: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $text-white;
            background-color: $lightblue;
        }
    }
    .tab_item_wrap {
        width: 100%;
        table {
            width: 100%;
            text-align: center;
            opacity: .8;
            tr{
                height: 32px;
                &:nth-child(even){
                    border-bottom: 1px dashed rgba(255,255,255,1)
                }
            }
        }
    }
    .tab_item {
        // width: 300px;
        // height: 300px;
        // text-align: center;
        // line-height: 300px;
        color: #FFF;
        display: none;
    }
    .show {
        display: block;
    }
}