#home-chart {
    width: 100%;
    height: 200px;
    // background-color: #fff;
    margin: 20px 0;
   // .anchor{
        // background:url('./img/Anchor.svg');
        // width: 76px;
        // height: 82px;
        // background-size: cover;
   // }
}