@import './src/style/_variable.scss';

.vote-header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-top: 20px;
  .left {
    border-radius: 4px;
    flex: 0 0 64px;
    height: 82px;
    background-color: #eee; 
    margin-right: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url('./img/mask.svg');
  mask-image: url('./img/mask.svg');
  }
  .right {
    color: #fff;
    .title {
      font-size: 26px;
    }
    .sub-title {
      font-size: 18px;
    }
  }
  .influence {
    position: absolute;
    color: #fff;
    bottom: -10px;
    right: 0;
    display: flex;
    align-items: center;
    p {
      font-size: $font-normal;
      padding-right: 10px;
    }
    h1 {
      font-size: $font-so-huge;
      margin: 0;
    }
    .up {
      height: 40px;
      width: 40px;
      background-image: url('./img/down.svg');
      background-size: 40px 40px; 
      transform: rotate(180deg);
    }
    .down {
      height: 40px;
      width: 40px;
      background-image: url('./img/up.svg'); 
      background-size: 40px 40px; 
      transform: rotate(180deg);
    }
  }
}
  